/* General Page Styling */

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.5em;
}

body {
  background: #fff;
}

h2.title {
  font-size: 2.5em;
}

h1.title {
  font-size: 1em;
  margin: 0px auto;
}

.title {
  color: #b4160e;
  margin-bottom: 10px;
}

.content_block {
  padding-bottom: 40px;
  padding-top: 40px;
}

.btn {
  display: inline-block;
  padding: 10px;
  width: 100px;
  border: none;
  color: white;
  background-color: #b4160e;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #cf1a10;
}
.btn:active {
  background-color: #8e110b;
}

.form-control {
  border: #fff;
}

/* Header Video */

#header_block {
  text-align: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.bgvideo {
  position: absolute;
  top: 50%; left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

#darken {
  background-color: rgba(0, 0, 0, 0.7);
}

.logo img {
  margin: 5em 0 2em 5em;
}

#header_block .logo img {
  width: 55%;
  max-width: 350px;
}

#main_title {
  margin-top: 0;
  padding-bottom: 4px;
  font-size: 6em;
  background-color: rgba(0, 0, 0, 0.5);
}

.subtitle {
  width: 100%;
  color: #969696;
  font-size: 1.5em;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#ticket_button {
  position: relative;
  margin-top: 18vh;
  margin-bottom: 20px;
  width: 30vw;
  font-size: 1.5em;
  color: #fff;
}
/* Summary Block */

#registration {
  background: url('media/images/bgbackup.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 120px 0px;
  height: 700px;
}

#registration .title {
  margin-bottom: 50px;
}

#registration #registration_button {
  font-size: 1.5em;
  width: 30vw;
  margin-top: 40px;
}

/* Speakers Block */

.speakers {
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
}

.speakers .description {
  padding: 30px;
}

.speakers .headshot {
  width: 300px;
  max-width: 100%;
  border-radius: 50%;
  -webkit-transition: all .5s ease; /* Safari and Chrome */
  -moz-transition: all .5s ease; /* Firefox */
  -ms-transition: all .5s ease; /* IE 9 */
  -o-transition: all .5s ease; /* Opera */
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.speakers .speaker {
  padding-bottom: 50px;
}

.speakers .speaker p {
  margin-top: 30px;
}

.speakers .speaker .headshot:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
    box-shadow: 0 0 0 5px #C34C39;
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
}

.speaker h3 {
  color: #b4160e;
  padding-top: 25px;
}

.speaker h4 {
  padding-top: 10px;
}

/* Speakers Modal Window */

.speaker-modal .modal-body p {
  font-size: 15px;
}

.speaker-modal .modal-title {
  padding-top: 20px;
  color: #C34C39;
}

.speaker-modal .modal-subtitle {
  padding-top: 20px;
}

/* Sponsors Block */

#sponsors {
  text-align: center;
  background-color: rgb(235, 235, 235);
}

#sponsors .sponsor {
  margin: 40px 0px;
}

#sponsors .sponsor h3 {
  color: #b4160e;
  margin-bottom: 30px;
}

/* FAQ Block */

#faq {
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
}

#faq .question-list .question {
  margin: 40px 0px;
}

#faq .question-list .question p {
  font-size: 15px;
  text-align: justify;;
}


/* Footer */

footer {
  background: rgb(52, 52, 52);
  padding: 15px 0px;
}

footer p {
  color: white;
  font-size: 15px;
  margin: 0px auto;
}

@media (max-width: 999px) {
  #main_title {
    font-size: 5em;
  }
}

@media (max-height: 699px) {
  .content_block {
    height: auto;
  }
}

@media (max-width: 599px) {
  .title {
    font-size: 14vw;
  }
  #main_title {
    font-size: 15vw;
  }
  #header_block .logo img {
    max-width: 40vw;
  }
}

@media (max-width: 499px) {
  #ticket_button {
    width: 150px;
  }
}
