body {
  background: #fff;
  font-family: Arial, sans-serif;
}

.content-block {
  position: relative;
  overflow: hidden;
  padding: 10px;
  height: 100vh;
}

.bgvideo {
  position: absolute;
  top: 50%; left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  filter: brightness(0.5);
}

#site-title {
  margin-top: 0;
  width: 100%;
  font-size: 6rem;
  text-align: center;
  color: #b4160e;
}

#block1 .logo {
  text-align: center;
}
#block1 .logo img {
  width: 70%;
  max-width: 400px;
}

@media (max-width: 599px) {
  #site-title {
    font-size: 15vw;
  }
  #block1 .logo img {
    max-width: 40vw;
  }
}

@media (max-height: 849px) {
  .content-block {
    height: auto;
  }
}